.form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    width: 400px;
    box-shadow: 0 0 15px 0 #71cb1d;
    padding: 30px;
    margin: 0 auto;
    font-family: sans-serif;
    
}
h1{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
    
}
label{
    
    margin-bottom: 5px;
    cursor: pointer;
}
.Tamanho{
    margin-top: 10px;
}
input{
    
    padding: 5px 15px;
    font-size: 20px;
    outline-color: #71cb1d;
}
.form p{
    color: red;
    font-size: 12px;
    
}

select{
    margin-bottom: 15px;
    padding: 5px 15px;
    font-size: 18px;
    outline-color: #71cb1d;
}
button{
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #71cb1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}