.HeaderPages{
    width: 100%;
    height: 150px;
    background-color: #282c31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 40px;
    
}
.ContactData{
    color: #fff;
    font-size: 19px;
    

}
.contacts {
    display: flex;
    align-items: center;
    justify-content: right;
}

.contacts .icons{
    color: #71cb1d;
    margin-right: 8px;
}