@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600;700;800&family=Noto+Sans:wght@700&family=Poppins:wght@500&family=Rajdhani:wght@300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
body{
  background-image: url('../src/components/images/fundoPreto.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}